.form {
  margin: 20px;
  /* position: relative; */
}

.header {
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #3e497a;
  margin: auto;
  position: relative;
}

.steps {
  display: grid;
  /* z-index: -1; */
}

.stepsBox {
  /* margin: 0 20px 0 20px; */
  margin: auto;
  position: relative;
}

.btn {
  margin: auto;
  position: relative;
  padding-top: 20px;
}

.slidesUpload {
  margin: auto;
  position: relative;
}
