.footer {
  position: fixed;
  bottom: -20px; /* Start the footer off the page */
  left: 0;
  right: 0;
  height: 20px;
  background-color: #3e497a;
  color: #21325e;
  text-align: center;
  /* padding-top: 50px; */
  transition: bottom 0.3s ease-out;
}

.footer .visible {
  bottom: 0px;
}
