@-moz-keyframes rocket-movement {
  100% {
    -moz-transform: translate(1200px, -600px);
  }
}
@-webkit-keyframes rocket-movement {
  100% {
    -webkit-transform: translate(1200px, -600px);
  }
}
@keyframes rocket-movement {
  100% {
    transform: translate(1200px, -600px);
  }
}
@-moz-keyframes spin-earth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}
@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  position: relative;
  display: inline-block;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  height: 60px;
}

.landingImg {
  width: 100%;
  z-index: -1;
  background: transparent;
}

.landingText {
  position: absolute;
  top: 25%;
  left: 290px;
  text-align: center;
  font-size: 25px;
  color: #f0f0f0;
}

.h2title {
  position: absolute;
  top: 250%;
  color: #f0f0f0;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.objectRocket {
  z-index: 95;
  position: absolute;
  transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  animation: rocket-movement 200s linear infinite both running;
}

.objectEarth {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 90;
  animation: spin-earth 100s infinite linear both;
  filter: drop-shadow(0 0 0.75rem #fff);
}

.objectMoon {
  position: absolute;
  top: 12%;
  left: 25%;
}

.objectAstronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.boxAstronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.login {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
}

.bold {
  font-weight: bold;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.cardImg {
  width: 400px;
  height: 200px;
}

.details {
  display: none;
  padding: 10px;
}

.mapContainer {
  text-align: center;
}

.mapNumbers {
  position: relative;
}

.map {
  width: 80%;
  text-align: center;
}

.getStarted {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 0;
}

.planet {
  width: 80%;
  margin-left: 10%;
  grid-column: 2 / span 1;
}

.h3title {
  /* top: 300%; */
  color: #f0f0f0;
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
  margin-top: 50px;
}

.mapTitle {
  color: #f0f0f0;
  font-size: 40px;
  text-align: center;
  margin: 5px;
}

.footer {
  color: #f0f0f0;
  font-size: 12px;
  text-align: center;
}

.about {
  margin: 20px;
  text-align: center;
  justify-content: center;
}

.bullets {
  grid-column: 1 / span 1;
  list-style: none;
  margin-top: 80px;
  padding: 0;
}

.bulletpoint {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.number {
  font-weight: bold;
  font-size: 20px;
  color: #f0f0f0;
  width: 70px;
  height: 70px;
  border-radius: 24px;
  background-color: #323f5d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-top: 20px;
  padding: 0;
}

.gsTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  font-size: 18px;
  color: #f0f0f0;
  line-height: 32.4px;
}

.numbersContainer {
  /* position: absolute; */
  /* margin: 0 200px 0 200px; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numSummary {
  text-align: center;
  color: #f0f0f0;
  font-size: 30px;
  margin: 0 50px;
  margin-top: -80px;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  height: 300px;
  width: 250px;
}

.aboutCard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s linear;
  text-align: center;
}

.aboutCard:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front {
  background-color: #f0f0f0;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
}

.back {
  background-color: #f0f0f0;
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 280px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.stats {
  font-size: 100px;
  margin: 0;
  animation-name: count;
  animation-duration: 0.5s;
  animation-timing-function: steps(0, end);
  animation-fill-mode: forwards;
}

.backTxt {
  padding: 50px 0;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.bottomLogin {
  text-align: center;
  margin: auto;
  display: flex;
  margin-bottom: 80px;
}

@keyframes count {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.count-animation {
  animation-name: count;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

.count-transition {
  transition: transform 0.5s ease-in-out;
}
