.avatar {
  z-index: 0;
}
.inline {
  display: inline-block;
}
.line {
  display: block;
  border-bottom: 2px dashed #ccc;
  margin-bottom: 20px;
}

.skills {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 50px 100px 50px 100px;
}

.contributeContainer {
  margin: 50px 100px 50px 100px;
}
