.container {
  margin: 40px 100px 0 100px;
  font-family: "Montserrat", sans-serif;
}

.breadcrumbs {
  margin: 30px 100px 0px 100px;
  font-family: "Montserrat", sans-serif;
  color: grey;
}

.breadcrumbsLink {
  text-decoration: none;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.details {
  padding-right: 50px;
}

.box {
  margin: 0 15px 0 15px;
}

.skills {
  margin-left: 10px;
  margin-top: 5px;
}

.name {
  text-decoration: none;
  color: black;
}
