.headerTitle {
  font-size: 30px;
  font-weight: 200;
  color: #3e497a;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 40px;
}

.title {
  text-align: left;
  /* margin-left: 80px; */
  /* position: relative; */
  margin: 50px;
  /* margin: auto; */
}

.name {
  text-decoration: none;
  color: black;
  flex: 1;
  /* margin: 20px; */
  padding-right: 90px;
}

.container {
  margin: 0 150px 0 150px;
}

.line {
  display: block;
  border-bottom: 2px dashed #ccc;
  margin-bottom: 20px;
}

.featuredImg {
  width: 600px;
}

.featuredImg:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.featuredHeader {
  font-size: 45px;
  font-weight: 200;
}

.featuredTxt {
  flex: 1;
  padding-right: 90px;
  text-decoration: none;
  color: #3e497a;
}

.linkName {
  text-decoration: none;
  color: black;
}

.sort {
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #f1d00a;
  border: 1px solid #f1d00a;
  border-radius: 40px;
  color: #21325e;
  outline: 0;
  width: 120px;
  text-align: center;
}

.sortContainer {
  margin-left: 50px;
}

.pagination {
  padding: 10px;
  float: right;
}

.stat {
  font-size: 3rem;
  color: #3e497a;
}
