.projectName {
  text-decoration: none;
  color: black;
  flex: 1;
}

.name {
  text-decoration: none;
  color: black;
  flex: 1;
  margin-left: 8px;
}

.link {
  text-decoration: none;
  color: black;
}
