.header {
  margin: 30px 50px 0 50px;
}

.searchContainer {
  margin-left: 50px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 5px; */
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.linkName {
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #3e497a;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 20%;
  height: auto;
}

.title2 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

.pagination {
  padding: 10px;
  float: right;
}
